node_modules
.vscode
.gitignore
.env
theory



backend/images/orgs/background_images/*
backend/images/orgs/org_images/*
backend/images/events/*
backend/images/users/*

backend/public/*
backend/config/*

org_app/lib/env.dart
org_app/android/app/google-services.json

user_app/lib/env.dart
user_app/android/app/google-services.json